

.page-container {
  max-width: 80rem; /* Slightly narrower max width */
  margin: 0 auto;
  padding: 0 0.938rem;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

::ng-deep .right-side-tile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.right-card {
  width: 600px;
  height: 700px;
  position: relative;
  overflow: hidden;
  margin: auto; /* Center the card horizontally */
  padding: 16px; /* Add padding inside the card */
  margin-top: 16px; /* Add spacing above the card */
}

::ng-deep .switch-case-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .button-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
margin-bottom:16px;
height: 12px;
border-radius: 8px; /* Rounded corners */
overflow: hidden; /* Hide overflow for rounded corners */
}
