
<mat-grid-list cols="2" rowHeight="1:1">
  <!-- Top row spanning both columns -->
  <mat-grid-tile colspan="2" style="text-align: center; background-color: #f5f5f5;">
    <h1>Welcome to UTRY</h1>
  </mat-grid-tile>

  <!-- Left column -->
  <mat-grid-tile>¨
  <div class="signup-model">
    <model-viewer
      src="/models/William.glb" alt="3D model of clothing"
      camera-controls
      touch-action="pan-y"            
      
      camera-orbit="140deg 80deg auto"
      shadow-intensity="1"
      class="utry-model-viewer">
       <div class="progress-bar hide" slot="progress-bar">
            <div class="update-bar"></div>
        </div>
  </model-viewer>
</div>
  </mat-grid-tile>

  <!-- Right column -->
  <mat-grid-tile>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
      <h1>
        <img src="/logo.svg" />
      </h1>
      <app-sign-up-form></app-sign-up-form>
    </div>
  </mat-grid-tile>
</mat-grid-list>

