.page-container {
  max-width: 80rem; /* Slightly narrower max width */
  margin: 0 auto;
  padding: 0 0.938rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem; /* Added padding for better spacing */
}
