<div class="expansion-panel-container">
    <mat-accordion>
      <mat-expansion-panel class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>  </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content">
  
            <div class ="contentleft">
              <img src="material.jpg" alt="material" class="material-image"> 
              
          </div>
          
        <div class="contentright">
            <span class="fabric-describtion-label">Fabric description:</span>
            <p class="fabric-describtion">
                Materials:100% Cotton <br>
                Material details:Jersey</p>
            <span class="slider-label">Scratchiness factor</span>
            <mat-slider>
                <input matSliderThumb>
              </mat-slider>
              
  
          </div>
          
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  