<div class="start-page-image-container">
    <!-- Image acts as background -->
    <img src="zalando-bg.jpg" class="background-image-tag" alt="Background"/>
  
    <!-- UTRY Button -->
    <button mat-button routerLink="/sign-up" class="signin-button">
      Utry
    </button>

    <!--<button mat-fab routerLink="/utry" class="utry-button">
        Let's get you into the fitting room
</button> -->

    <button routerLink="/utry" class="utry-button">
        Let's get you into the fitting room
        <img src="/logoWhite.svg" alt="Utry Logo" class="utry-logo">

    </button>
  </div>

    