:host {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.compare-panel-wrapper {
  width: 100%;
  background-color: rgba(230, 232, 233, 0.98); /* Light grey from example */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.panel-header {
  height: 40px;
  display: flex;
  justify-content: flex-end; /* Arrow on right */
  align-items: center;
  cursor: pointer;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.toggle-icon {
  color: #333; /* Darker arrow */
}

.panel-content-area {
  padding: 10px 30px; /* Adjust padding */
  box-sizing: border-box;
  background-color: inherit;
}

.expansion-content {
  display: flex;
  align-items: flex-start; /* Align columns to the top */
  gap: 70px; /* Space between columns */
}

.compare-column {
  flex: 1; /* Each column takes equal space */
  display: flex;
  flex-direction: column;
}


/* Main form field flex container */
:host ::ng-deep .custom-size-select .mat-mdc-form-field-flex {
  padding: 0 !important; /* Remove default padding */
  height: 40px !important; /* Desired height for the pill */
  align-items: center !important;
  border-radius: 20px !important; /* Pill shape */
  background-color: transparent !important; /* Ensure wrapper is transparent */
}







.description-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 0.98rem; /* 14px */
  
}

.matOption{
  font-weight: 500;
}

.description-area ul {
  list-style: disc;
  margin: 4px;
  padding-left: 30px;
}


.description-area li {
  margin-bottom: 4px;
}





/* Responsive adjustments */
@media (max-width: 600px) {
  .expansion-content {
    flex-direction: column;
    align-items: stretch; /* Stretch columns full width */
    gap: 20px;
  }
  .compare-column {
    flex-basis: auto; /* Reset basis */
  }
  .custom-size-select {
    width: 100%; /* Make select full width on small screens */
  }
}