/* Radio group */
.body-type-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Radio button container */
.body-type-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease;
  position: relative; /* Ensure proper positioning for hiding the input */
}

/* Hide the actual radio button input */
.body-type-radio.mat-radio-button .mat-radio-container {
  display: none !important; /* Completely hide the radio button container */
}

/* Highlight selected radio button */
.body-type-radio.mat-radio-checked .body-type-image {
  border: 2px solid #3f51b5; /* Highlight color */
  transform: scale(1.1); /* Slight zoom effect */
}

/* Image */
.body-type-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

/* Hover effect */
.body-type-radio:hover .body-type-image {
  transform: scale(1.05);
}

.header {
  padding-left: 16px;
  padding-top: 16px;
  font-size: 24px;
}

.paragraph {
  padding-left: 16px;
  padding-bottom: 12px;
  font-size: 16px;
}
