<div class="measurements-wrapper">
  <!-- First container -->
  <div class="measurements-container">
    <!-- Left side: Picture -->
    <div class="image-container">
      <img src="bodyTypes/MandØvre.png" alt="Measure Yourself" class="measurement-image" />
    </div>

    <!-- Right side: Text and Button -->
    <div class="text-container">
      <h3>Upper body</h3>
      <ul>
        <li>Waist</li>
        <li>Chest</li>
        <li>Shoulder</li>
        <li>Arms</li>
        <li>Front bodice</li>
      </ul>
      <button mat-raised-button routerLink="/measuring-guide" color="primary">Start Measuring</button>
    </div>
  </div>

  <!-- Second container -->
  <div class="measurements-container">
    <!-- Left side: Picture -->
    <div class="image-container">
      <img src="bodyTypes/MandNedre.png" alt="Measure Yourself" class="measurement-image" />
    </div>

    <!-- Right side: Text and Button -->
    <div class="text-container">
      <h3>Lower body</h3>
      <ul>
        <li>Inseam</li>
        <li>Outseam</li>
        <li>Hips</li>
        <li>Thighs</li>
      </ul>
      <button mat-raised-button color="primary">Start Measuring</button>
    </div>
  </div>
</div>
