
  <!-- Very Top Bar -->
  <div class="promo-bar">
    <span>ALLE DANMARKS FAVORITMÆRKER</span>
    <span>Gratis standardlevering ved køb for minimum 299 kr*</span>
    <span>30 Dages returret</span>
  </div>

  <!-- Top Bar -->
  <div class="top-bar">
      <mat-icon>person_outline</mat-icon>
      <mat-icon>favorite_border</mat-icon>
      <mat-icon>shopping_bag_outline</mat-icon>
  </div>

  <!-- Main Header -->
  <header class="main-header">
    <div class="tabs-container">
      <!-- Select 'Men' by default for this page -->
      <mat-tab-group animationDuration="0ms" [selectedIndex]="1">
        <mat-tab label="Women"></mat-tab>
        <mat-tab label="Men"></mat-tab>
        <mat-tab label="Kids"></mat-tab>
      </mat-tab-group>
    </div>

    <div class="logo-container">
      <img src="/zalandoHome/Zalando_Logo_Orange.svg" alt="Zalando Logo" class="zalando-logo">
      <img src="/zalandoHome/zalando_wordmark_black_RGB.svg" alt="Zalando logo" class="zalando-logo">
    </div>

    <div class="search-container">
      <mat-form-field appearance="outline" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search">
      </mat-form-field>
    </div>
  </header>

  <!-- Secondary Navigation -->
  <nav class="secondary-nav">
    <a href="#">Scandi Style</a>
    <a href="#">Bestsellers</a>
    <a href="#">Clothes</a>
    <a href="#">Shoes</a>
    <a href="#">Accessories</a>
    <a href="#">Streetwear</a>
    <a href="#">Sport</a>
    <a href="#" class="sale">Sale</a>
    <a href="#">Beauty</a>
    <a href="#">Second Hand</a>
    <a href="sign-up" class="utry">Utry</a>
  </nav>