<div class="expansion-panel-container">
  <mat-accordion>
    <mat-expansion-panel class="custom-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>  </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content">

          <div class ="contentleft">
            <div class="slider-container">
              <span class="main-label">Adjust Your Fit</span>
              <div class="label-container">
                <span class="label-left">Slim</span>
                <span class="label-right">Loose</span>
              </div>
              <mat-slider>
                <input matSliderThumb>
              </mat-slider>
            </div>
            
            
            
            
        </div>
        
      <div class="contentright">
        <span class="main-label">Confidence score: 35%<mat-icon #tooltip="matTooltip"
          matTooltip="Your confidence score is calculated based on
          Your feedback on previous purchased items with UTRY
          Others, with similar body measurements to you, feedback "
          matTooltipPosition="below"
          matTooltipHideDelay="100000" aria-hidden="false" aria-label="info icon" fontIcon="info"></mat-icon>
        
        </span>


        </div>
        
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

